body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1A1A1A;
    flex-direction: column;
    gap: 15px;
    color: #EAEAEA;
}
 
.box {
    width: 40vw;
    background: #2A2A2A;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    display: block;
    color: #EAEAEA;
}
 
input,
button {
    background-color: #3A3A3A;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    color: #EAEAEA;
}
 
.btn-area{
    display: flex;
}
 
.invisible{
    display: none;
}